* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	letter-spacing: 1px;
}

.container {
	max-width: 100vw;
	height: 100vh;
	margin: 0 auto;
	padding: 20px;
	background: black;
	color: #fff;
}

#edytor, .inputs {
	width: 90vw;
	margin: 0 auto;
	background: lightgray;
	color: #2f2b2b;
	border: 2px solid gray;
	margin-bottom: 20px;
}

h1, h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.inputs_first_col {
	height: 50px;
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.inputs_second_col {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background: black;
}

input {
	padding: 5px;
	border: 1px solid red;
	border-radius: 5px;
	font-size: 20px
}

input:hover {
	cursor: pointer;
	box-shadow: 1px 1px 2px gray;
	opacity: 0.8;
	transform: scale(1.12);
}
