* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  background: #427A7A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

#rectangle {
  width: 500px;
  height: 200px;
  background: red;
  transition: 100ms;
}