* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  background: #7698A1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.container {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  background: #0F1314;
  border-radius: 30px;
  border: 1px solid #fff;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

#new_task, #add_task, #removeAll, #clear {
  float: left;
  width: 100%;
  margin-bottom: 17px;
  letter-spacing: 1px;
}

#new_task {
  padding: 5px;
}

#clear {
  text-align: center;
  border-bottom: 1px dashed #fff;
}

input {
  -moz-box-shadow: -1px -1px 6px #b0a6b0;
  -webkit-box-shadow: -1px -1px 6px #b0a6b0;
  box-shadow: -1px -1px 6px #b0a6b0;
}

input:hover {
  background: lightgray;
}

ol li {
  color: #AD0034;
  font-size: 19px;
  margin-bottom: 8px;
  padding: 3px;
}

ol li:nth-child(even) {
  background: #CCB70A;
}

li:hover {
  cursor: pointer;
}
